.stag{
    text-decoration: underline;
}
.stag:hover{
    cursor: pointer;
    text-decoration: none;
}
.eligi h5,
.desc h5{
    font-size: 1.25rem !important;
    font-weight: 500 !important;
}
.eligi h6,
.desc h6{
    font-weight: 500 !important;

}
.cardmain{
    width: 329px !important;
}
.cardmain img{
    height: auto;
}
.bodypart .eligi ul{
    /* display: flex;
    justify-content: center;  */
}
.buttforsc{
    display: flex;
    justify-content: space-between;
}
.buttforsc button{
    width: 45%;
    background-color: blue;
    height: 36px;
    border-radius: 5px;
    font-size: 1.3rem !important;
    color: white !important;
    font-weight: 500;
}
.bodypart div h5{
    /* text-decoration: underline; */
    color: rgb(232 65 51) !important;
}
.bodypart div{
    padding: 3px !important;
}

.dedy{
    padding-top: 15px;
    margin-top: 9px;
}

@media (max-width:510px) {
    .bodypart div{
        max-width: 410px !important;
    }
    
}

 